<!doctype html>
<html lang="zh-CN">
<%
var data = data || {};
%>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <meta name="version" content="1.4.6">
  <title>石墨文档</title>
  <meta name="description" content="石墨文档是一款轻便、简洁的在线协作文档工具，PC端和移动端全覆盖，支持多人同时对文档编辑和评论，让你与他人轻松完成协作撰稿、方案讨论、会议记录和资料共享等工作。">
  <meta name="keywords" content="在线协作文档,在线文档编辑,在线协作编辑,协同编辑,多人编辑,团队协作工具,文档管理工具,文档协作,文件存储,文件共享,协作办公,SAAS,云协作,google docs,在线office">
  <meta name="google" content="notranslate"/>
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"><%= data.msg %></div>
<script>
  console.log('test ejs')
</script>
</body>
</html>