<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>数据可视化 & Node</title>
  <style>
    html, body {
      width: 100%;
      height: 100%;
    }
    form {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  </style>
</head>
<body>
  <div id="testId"></div>
  <div id="Sunburst"></div>
  <form>
    <label><input type="radio" name="mode" value="size"> Size</label>
    <label><input type="radio" name="mode" value="count" checked> Count</label>
  </form>
  
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src='../js/theFirstNode.js'></script>

  <script>
    
  </script>
</body>
</html>